#board{
    background-color: black;
    display: grid;
    gap: .5rem;
    grid-template-columns: 6rem 6rem 6rem;
    grid-template-rows: 6rem 6rem 6rem;
    max-width: 19rem;
}

#board span{
    background-color: #ddd;
    cursor: pointer;
    display: grid;
    place-content: center;
    font-size: 5rem;
}

#board span.win{
    background-color: #18af57;
}